@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>BGL Group - Web Application Developer Testing</h3>   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>USers</h2>
        <p>
          @Html.ActionLink("Users", "Index", "Users")
        </p>         
</div>