@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Search User</h2>
    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }


</div>

<div class="row">
    <div class="col-md-4">
 
      
        @*<p>
          @Html.ActionLink("Users", "Index", "Users")
        </p>*@         
</div>